@{
	Layout = null;
}


<div class="container-fluid">
	<h2>Tere tulemast Nutiroboti veebilehele!</h2>
	<p>Nutirobot on veebirakendus, mis on mõeldud  robootika-, programmeerimise- ja IT-huvilistele.</p>
	<p>Teemakohaseid õppematerjale on võimalik on vaadata, üles laadida ja alla laadida ning samuti teistele kasutajatele neid jagada.</p>
	<p>
		<a class="btn btn-default btn-lg" href="browse">Sirvi üleslaaditud ülesandeid »</a>
	</p>
</div>
